package ${packageName};


import ${table.EntityFullClassName};
import com.roy.sqwaimai.dao.BaseRepository;


public interface ${table.RepositoryClassName} extends BaseRepository<${table.EntityClassName},Long>{

}

